

<form method="post" action="~/Employee/Save">
    <div class="form-group">
        <label>Họ:</label>
        <input type="text" class="form-control" name="FirstName" id="FirstName" autofocus>
    </div>
    <div class="form-group">
        <label>Tên:</label>
        <input type="text" class="form-control" name="LastName" id="LastName">
    </div>
    <div class="form-group">
        <label>Ngày Sinh:</label>
        <input type="text" class="form-control" name="BirthDate" id="BirthDate">
    </div>
    <div class="form-group">
        <label>Ảnh:</label>
        <input type="text" class="form-control" name="Photo" id="Photo">
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name="Email" id="Email">
    </div>
    <div class="form-group">
        <label>Ghi chú:</label>
        <input type="text" class="form-control" name="Notes" id="Notes">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="text" class="form-control" name="Password" id="Password">
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Employee/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>

