<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active ">
                <a href="/Home">
                    <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">4</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Category"><i class="fa fa-circle-o"></i> Loại hàng</a></li>
                    <li><a href="~/Supplier"><i class="fa fa-circle-o"></i> Nhà cung cấp</a></li>
                    <li><a href="~/Shipper"><i class="fa fa-circle-o"></i> Nhà vận chuyển</a></li>
                    <li><a href="~/Customer"><i class="fa fa-circle-o"></i> Khách hàng</a></li>
                    <li><a href="~/Employee"><i class="fa fa-circle-o"></i> Nhân viên</a></li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-th"></i> <span>Quản lý hàng hóa</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                    </span>
                </a>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Tạo đơn hàng</a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Xử lý đơn hàng</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Tra cứu đơn hàng</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Thống kê - Báo cáo</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Doanh thu bán hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
